{% extends "base.html" %}

{%block title%}

{{count}} words

{%endblock%}


{%block content%}

<h1 style="text-align: center; color:white;">There are {{count}} words in your text</h1>
<br>

<h3 style="color: mediumaquamarine;">Your Text:</h3>
<p style="text-align:justify ;color: white;">
	{{ fulltext }}
</p>
<br />

<h2 style="text-align: center; color:white;">Your text has {{sentences}} sentences and {{paragraphs}} paragraphs</h2>
<br>

<h3 style="color: mediumaquamarine;">Word Count:</h3>
<p style="text-align:justify ;color: white;">
	{% for word, counttotal in sortedwords %}
	{{ word }} - {{counttotal}}
	<br>
	{% endfor %}
</p>

{%endblock%}